openapi: 3.0.1
info:
  contact:
    email: anton.perhunov@aspose.com
    name: GroupDocs
    url: https://products.groupdocs.cloud/translation/
  license:
    name: Aspose EULA
    url: https://about.aspose.com/legal/eula/
  termsOfService: https://about.groupdocs.cloud/legal/tos/
  title: GroupDocs.Translation SDK
  version: 24.3.0
servers:
- description: GroupDocs.Translation server
  url: https://api.groupdocs.cloud/v2.0/translation/
security:
- JWT: []
paths:
  /swagger/spec:
    get:
      parameters:
      - explode: true
        in: query
        name: IsYaml
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: SerialaizeAsV2
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          description: Success
      tags:
      - Swagger
  /hugo:
    get:
      parameters:
      - description: id from PostHugo>
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHugoResponse'
          description: Success
      summary: Get hugo syntax structure from markdown file
      tags:
      - Translation
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HugoRequest'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Accepted
      summary: Run hugo syntax structure analyzing from markdown file
      tags:
      - Translation
  /hc:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckStatus'
          description: Success
      summary: Health check for all services.
      tags:
      - Translation
  /languages:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LanguagePairData'
                type: array
          description: Success
      summary: Return list of available language pairs
      tags:
      - Translation
  /document/trial:
    get:
      parameters:
      - description: GUID which got from /v3/translation/document response
        explode: true
        in: query
        name: requestId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudFileResponse'
          description: Success
      summary: "Return document translation status for trial request.\r\nAlso return\
        \ URLs for downloading of translated document if translation was successful"
      tags:
      - Translation
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextDocumentFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: "Trial translate Microsoft Word documents, rtf, txt, odt without conversation.\
        \ Translate only first page or 1000 symbols."
      tags:
      - Translation
  /document/{requestId}:
    get:
      parameters:
      - description: GUID which got from /translation/document response
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudFileResponse'
          description: Success
        "102":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudFileResponse'
          description: Information
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudFileResponse'
          description: Accepted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudFileResponse'
          description: Not Found
        "206":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudFileResponseWithAdditionalInfo'
          description: Success
      summary: "Return document translation status.\r\nAlso return URLs for downloading\
        \ of translated document if translation was successful"
      tags:
      - Translation
  /text/trial:
    get:
      parameters:
      - description: GUID which got from /v3/translation/text response
        explode: true
        in: query
        name: requestId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudTextResponse'
          description: Success
      summary: "Return text translation status for trial requests.\r\nAlso return\
        \ translated text if translation was successful"
      tags:
      - Translation
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Trial translate text. Translate only 1000 symbols.
      tags:
      - Translation
  /text/{requestId}:
    get:
      parameters:
      - description: GUID which got from /v3/translation/text response
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudTextResponse'
          description: Success
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudTextResponse'
          description: Accepted
      summary: "Return text translation status.\r\nAlso return translated text if\
        \ translation was successful"
      tags:
      - Translation
  /file/upload:
    post:
      parameters:
      - explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - Unknown
          - Doc
          - Docx
          - Docm
          - Xls
          - Xlsx
          - Xlsm
          - Ppt
          - Pptx
          - Pptm
          - Txt
          - Pdf
          - Md
          - Resx
          - Html
          - Rtf
          - Odt
          - Ods
          - Odp
          - Csv
          - Tsv
          - Srt
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                style: form
            schema:
              $ref: '#/components/schemas/_file_upload_post_request'
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Success
        "400":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Bad Request
      tags:
      - File
  /spreadsheet:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpreadsheetFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: "Translate Microsoft Excel workbooks, ods"
      tags:
      - Translation
  /csv:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CsvFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate CSV and TSV files
      tags:
      - Translation
  /html:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HtmlFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate HTML files
      tags:
      - Translation
  /markdown:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkdownFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate Markdown files
      tags:
      - Translation
  /image-to-file:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageToFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate image or scanned pdf and return file
      tags:
      - Translation
  /image-to-text:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageToTextRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate text on image or scanned pdf
      tags:
      - Translation
  /pdf:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PdfFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate pdf files
      tags:
      - Translation
  /pdf/trial:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PdfFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Trial pdf translation. Translate only first page without conversion
        to another format.
      tags:
      - Translation
  /resx:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SrtFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate Resx files
      tags:
      - Translation
  /presentation:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresentationFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: "Translate Microsoft PowerPoint presentations, odp"
      tags:
      - Translation
  /srt:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SrtFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate Srt files
      tags:
      - Translation
  /auto:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate any supported file
      tags:
      - Translation
  /text:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate text
      tags:
      - Translation
  /document:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextDocumentFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: "Translate Microsoft Word documents, rtf, txt, odt"
      tags:
      - Translation
components:
  schemas:
    CloudFileRequest:
      additionalProperties: false
      properties:
        format:
          description: "\"doc(x|m)\" if Word document, \"xls(x|m)\" if Excel workbook"
          nullable: true
          type: string
        outFormat:
          description: output file format
          nullable: true
          type: string
        requestId:
          description: id of request
          nullable: true
          type: string
        ids:
          description: Language pairs to translate
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        url:
          description: Link to file for translation
          nullable: true
          type: string
        size:
          description: File size
          format: int64
          type: integer
        masters:
          description: If translate master slides
          type: boolean
        formatting:
          description: "If document's formatting should be preserved, default true"
          type: boolean
        origin:
          description: for analysis only
          nullable: true
          type: string
        elements:
          description: List of slides to translate
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        ranges:
          additionalProperties:
            $ref: '#/components/schemas/WorksheetData'
          description: Dictionary of ranges in Excel workbooks
          nullable: true
          type: object
        shortCodeDict:
          additionalProperties:
            items:
              type: string
            nullable: true
            type: array
          description: Dictiory of short code names and parameters names to translate
          nullable: true
          type: object
        frontMatterList:
          description: Dictionary where key is zero-based front matter index and value
            is list of lists of front matter paths
          items:
            items:
              type: string
            type: array
          nullable: true
          type: array
        originalFileName:
          description: Original name of file
          nullable: true
          type: string
        separator:
          description: Separator in files
          nullable: true
          type: string
        isPaid:
          description: Set true if paid user
          type: boolean
        savingMode:
          description: Toggle files saving mode
          enum:
          - Files
          - Archive
          - Both
          type: string
        details:
          additionalProperties:
            nullable: true
            type: string
          description: Details of the requests. Using for e2e tracking
          nullable: true
          type: object
      type: object
    CloudFileResponse:
      additionalProperties: false
      example:
        urls:
          key:
            size: 0
            url: url
        scores:
          key: 6.0274563
        message: message
        status: null
      properties:
        status:
          $ref: '#/components/schemas/HttpStatusCode'
        message:
          nullable: true
          type: string
        urls:
          additionalProperties:
            $ref: '#/components/schemas/UrlFileInfo'
          nullable: true
          type: object
        scores:
          additionalProperties:
            format: float
            nullable: true
            type: number
          nullable: true
          type: object
      type: object
    CloudFileResponseWithAdditionalInfo:
      additionalProperties: false
      properties:
        status:
          $ref: '#/components/schemas/HttpStatusCode'
        message:
          nullable: true
          type: string
        urls:
          additionalProperties:
            $ref: '#/components/schemas/UrlFileInfo'
          nullable: true
          type: object
        scores:
          additionalProperties:
            format: float
            nullable: true
            type: number
          nullable: true
          type: object
        request:
          $ref: '#/components/schemas/CloudFileRequest'
        details:
          additionalProperties:
            nullable: true
            type: string
          nullable: true
          type: object
      type: object
    CloudHugoResponse:
      additionalProperties: false
      example:
        frontmatters:
        - - frontmatters
          - frontmatters
        - - frontmatters
          - frontmatters
        shortcodes:
          key:
          - - shortcodes
            - shortcodes
          - - shortcodes
            - shortcodes
        message: message
        status: null
      properties:
        status:
          $ref: '#/components/schemas/HttpStatusCode'
        message:
          description: If file was parsed correctly or text of error
          nullable: true
          type: string
        frontmatters:
          description: Structure of front matter syntax
          items:
            items:
              type: string
            type: array
          nullable: true
          type: array
        shortcodes:
          additionalProperties:
            items:
              items:
                type: string
              type: array
            nullable: true
            type: array
          description: Structure of short code syntax
          nullable: true
          type: object
      type: object
    CloudTextResponse:
      additionalProperties: false
      example:
        translations:
          key:
          - translations
          - translations
        message: message
        status: null
      properties:
        status:
          $ref: '#/components/schemas/HttpStatusCode'
        message:
          description: If file was translated correctly or text of error
          nullable: true
          type: string
        translations:
          additionalProperties:
            items:
              type: string
            nullable: true
            type: array
          description: Translated texts
          nullable: true
          type: object
      type: object
    CsvFileRequest:
      additionalProperties: false
      description: "Request for comma / tab separated files like csv, tsv"
      example:
        originalFileName: originalFileName
        targetLanguages:
        - targetLanguages
        - targetLanguages
        file: file
        origin: origin
        savingMode: Files
        format: Unknown
        outputFormat: outputFormat
        separator: separator
        sourceLanguage: en
        url: url
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        origin:
          description: Url or name of application using this SDK. Not required.
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
        format:
          default: Csv
          description: Input file format
          enum:
          - Unknown
          - Csv
          - Tsv
          example: Unknown
          type: string
        outputFormat:
          description: output file format
          minLength: 1
          type: string
        separator:
          description: Separator in files
          nullable: true
          type: string
      required:
      - outputFormat
      - sourceLanguage
      - targetLanguages
      type: object
    FileRequest:
      additionalProperties: false
      example:
        originalFileName: originalFileName
        ranges:
          key:
            ranges:
            - item2: item2
              item1: item1
            - item2: item2
              item1: item1
            columns:
            - 1
            - 1
            rows:
            - 6
            - 6
        origin: origin
        format: Unknown
        masters: false
        separator: separator
        shortcodedict:
          key:
          - shortcodedict
          - shortcodedict
        url: url
        targetLanguages:
        - targetLanguages
        - targetLanguages
        frontMatterList:
        - - frontMatterList
          - frontMatterList
        - - frontMatterList
          - frontMatterList
        file: file
        route: route
        savingMode: Files
        elements:
        - 0
        - 0
        outputFormat: outputFormat
        sourceLanguage: en
        formatting: true
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        origin:
          description: Url or name of application using this SDK. Not required.
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
        format:
          default: Unknown
          description: Input file format
          enum:
          - Unknown
          - Doc
          - Docx
          - Docm
          - Xls
          - Xlsx
          - Xlsm
          - Ppt
          - Pptx
          - Pptm
          - Txt
          - Pdf
          - Md
          - Resx
          - Html
          - Rtf
          - Odt
          - Ods
          - Odp
          - Csv
          - Tsv
          - Srt
          example: Unknown
          type: string
        outputFormat:
          description: output file format
          minLength: 1
          type: string
        masters:
          default: false
          description: If translate master slides
          type: boolean
        formatting:
          default: true
          description: "If document's formatting should be preserved, default true"
          type: boolean
        route:
          description: Endpoint route
          nullable: true
          type: string
        separator:
          description: Separator in files
          nullable: true
          type: string
        elements:
          description: "List of slides to translate (1-based index). If not present,\
            \ translate all elements (page, slide, worksheet)"
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        ranges:
          additionalProperties:
            $ref: '#/components/schemas/WorksheetData'
          description: Dictionary of ranges in Excel workbooks
          nullable: true
          type: object
        shortcodedict:
          additionalProperties:
            items:
              type: string
            nullable: true
            type: array
          description: Dictionary of short code names and parameters names to translate
          nullable: true
          type: object
        frontMatterList:
          description: Dictionary where key is zero-based front matter index and value
            is list of lists of front matter paths
          items:
            items:
              type: string
            type: array
          nullable: true
          type: array
      required:
      - File
      - Source
      - Targets
      type: object
    HealthCheckEntity:
      additionalProperties: false
      example:
        name: name
        message: message
        isHealthy: true
      properties:
        name:
          nullable: true
          type: string
        isHealthy:
          type: boolean
        message:
          nullable: true
          type: string
      type: object
    HealthCheckStatus:
      additionalProperties: false
      example:
        items:
        - name: name
          message: message
          isHealthy: true
        - name: name
          message: message
          isHealthy: true
      properties:
        items:
          items:
            $ref: '#/components/schemas/HealthCheckEntity'
          nullable: true
          type: array
      type: object
    HtmlFileRequest:
      additionalProperties: false
      description: Request for HTML files
      example:
        originalFileName: originalFileName
        targetLanguages:
        - targetLanguages
        - targetLanguages
        file: file
        origin: origin
        savingMode: Files
        outputFormat: outputFormat
        sourceLanguage: en
        url: url
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        origin:
          description: Url or name of application using this SDK. Not required.
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
        outputFormat:
          description: output file format
          minLength: 1
          type: string
      required:
      - File
      - Source
      - Targets
      type: object
    HttpStatusCode:
      enum:
      - 100
      - 101
      - 102
      - 103
      - 200
      - 201
      - 202
      - 203
      - 204
      - 205
      - 206
      - 207
      - 208
      - 226
      - 300
      - 301
      - 302
      - 303
      - 304
      - 305
      - 306
      - 307
      - 308
      - 400
      - 401
      - 402
      - 403
      - 404
      - 405
      - 406
      - 407
      - 408
      - 409
      - 410
      - 411
      - 412
      - 413
      - 414
      - 415
      - 416
      - 417
      - 421
      - 422
      - 423
      - 424
      - 426
      - 428
      - 429
      - 431
      - 451
      - 500
      - 501
      - 502
      - 503
      - 504
      - 505
      - 506
      - 507
      - 508
      - 510
      - 511
      type: number
    HugoRequest:
      additionalProperties: false
      example:
        file: file
        url: url
      properties:
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        url:
          description: Link to file for translation
          nullable: true
          type: string
      type: object
    ImageToFileRequest:
      additionalProperties: false
      example:
        originalFileName: originalFileName
        origin: origin
        format: Unknown
        url: url
        targetLanguages:
        - targetLanguages
        - targetLanguages
        file: file
        ocrformat: Pdf
        route: route
        pages:
        - 6
        - 6
        savingMode: Files
        rotationAngle: 0
        outputFormat: outputFormat
        sourceLanguage: en
        formatting: true
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        origin:
          description: Url or name of application using this SDK. Not required.
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
        format:
          default: Unknown
          description: Original file format
          enum:
          - Unknown
          - Bmp
          - Jpg
          - Png
          - Svg
          - Gif
          - Pdf
          type: string
        ocrformat:
          default: Pdf
          description: File format after recognition
          enum:
          - Pdf
          - Xlsx
          - Csv
          type: string
        outputFormat:
          description: output file format
          minLength: 1
          type: string
        rotationAngle:
          description: Left to write angle to rotate scanned image / pdf
          format: int32
          type: integer
        formatting:
          default: true
          description: "If document's formatting should be preserved, default true"
          type: boolean
        route:
          description: endpoints route
          nullable: true
          type: string
        pages:
          description: List of pages to translate for scanned pdf
          items:
            format: int32
            type: integer
          nullable: true
          type: array
      required:
      - ocrformat
      - outputFormat
      - sourceLanguage
      - targetLanguages
      type: object
    ImageToTextRequest:
      additionalProperties: false
      example:
        rotate: 0
        file: file
        route: route
        origin: origin
        format: Unknown
        source: en
        targets:
        - targets
        - targets
        url: url
        ishandwritten: true
      properties:
        format:
          default: Unknown
          description: Originnal file format
          enum:
          - Unknown
          - Bmp
          - Jpg
          - Png
          - Svg
          - Gif
          - Pdf
          type: string
        source:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targets:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File for translation
          format: byte
          nullable: true
          type: string
        url:
          description: Link to file for translation
          nullable: true
          type: string
        rotate:
          description: Left to write angle to rotate scanned image / pdf
          format: int32
          type: integer
        ishandwritten:
          description: is handwritten text
          type: boolean
        origin:
          description: for analysis only
          nullable: true
          type: string
        route:
          description: endpoints route
          nullable: true
          type: string
      required:
      - File
      - Source
      - Targets
      type: object
    LanguagePairData:
      additionalProperties: false
      example:
        source: source
        targets:
        - targets
        - targets
      properties:
        source:
          nullable: true
          type: string
        targets:
          items:
            type: string
          nullable: true
          type: array
      type: object
    MarkdownFileRequest:
      additionalProperties: false
      description: Request for markdown files or markdown files with Hugo syntax
      example:
        originalFileName: originalFileName
        targetLanguages:
        - targetLanguages
        - targetLanguages
        frontMatterList:
        - - frontMatterList
          - frontMatterList
        - - frontMatterList
          - frontMatterList
        file: file
        shortCodeList:
          key:
          - shortCodeList
          - shortCodeList
        origin: origin
        savingMode: Files
        outputFormat: outputFormat
        sourceLanguage: en
        url: url
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        origin:
          description: Url or name of application using this SDK. Not required.
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
        outputFormat:
          description: output file format
          minLength: 1
          type: string
        shortCodeList:
          additionalProperties:
            items:
              type: string
            nullable: true
            type: array
          description: Dictionary of short code names and parameters names to translate
          nullable: true
          type: object
        frontMatterList:
          description: List of lists of frontmatter paths
          items:
            items:
              type: string
            type: array
          nullable: true
          type: array
      required:
      - outputFormat
      - sourceLanguage
      - targetLanguages
      type: object
    PdfFileRequest:
      additionalProperties: false
      description: Request for PDF files
      example:
        originalFileName: originalFileName
        targetLanguages:
        - targetLanguages
        - targetLanguages
        file: file
        pages:
        - 0
        - 0
        origin: origin
        savingMode: Files
        preserveFormatting: true
        outputFormat: outputFormat
        sourceLanguage: en
        url: url
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        origin:
          description: Url or name of application using this SDK. Not required.
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
        outputFormat:
          description: output file format
          minLength: 1
          type: string
        preserveFormatting:
          default: true
          description: "If document's formatting should be preserved, default true"
          type: boolean
        pages:
          description: "List of pages to translate (1-based index). If not present,\
            \ translate all pages"
          items:
            format: int32
            type: integer
          nullable: true
          type: array
      required:
      - outputFormat
      - sourceLanguage
      - targetLanguages
      type: object
    PresentationFileRequest:
      additionalProperties: false
      description: "Request for presentation files like ppt, pptx, pptm, odp"
      example:
        originalFileName: originalFileName
        targetLanguages:
        - targetLanguages
        - targetLanguages
        slides:
        - 0
        - 0
        file: file
        origin: origin
        savingMode: Files
        format: Unknown
        masters: false
        outputFormat: outputFormat
        sourceLanguage: en
        url: url
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        origin:
          description: Url or name of application using this SDK. Not required.
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
        format:
          default: Pptx
          description: Input file format
          enum:
          - Unknown
          - Ppt
          - Pptx
          - Pptm
          - Odp
          example: Unknown
          type: string
        outputFormat:
          description: Output file format
          minLength: 1
          type: string
        masters:
          default: false
          description: If translate master slides
          type: boolean
        slides:
          description: "List of slides to translate (1-based index). If not present,\
            \ translate all slides"
          items:
            format: int32
            type: integer
          nullable: true
          type: array
      required:
      - File
      - Source
      - Targets
      type: object
    SpreadsheetFileRequest:
      additionalProperties: false
      description: "Request for spreadsheet files, like xls, xlsx, xlsm, ods"
      example:
        originalFileName: originalFileName
        targetLanguages:
        - targetLanguages
        - targetLanguages
        file: file
        worksheets:
        - 0
        - 0
        ranges:
          key:
            ranges:
            - item2: item2
              item1: item1
            - item2: item2
              item1: item1
            columns:
            - 1
            - 1
            rows:
            - 6
            - 6
        origin: origin
        savingMode: Files
        format: Unknown
        outputFormat: Xls
        sourceLanguage: en
        url: url
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        origin:
          description: Url or name of application using this SDK. Not required.
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
        format:
          default: Xlsx
          description: Input file format
          enum:
          - Unknown
          - Xls
          - Xlsx
          - Xlsm
          - Ods
          example: Unknown
          type: string
        outputFormat:
          description: output file format
          enum:
          - Xls
          - Xlsx
          - Xlsm
          - Xlsb
          - Html
          - Pdf
          - Xps
          - Ods
          - Md
          - Docx
          - Pptx
          - Tiff
          type: string
        worksheets:
          description: "List of Worksheets to translate by sequence number (1-based\
            \ index). If not present, translate all worksheets"
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        ranges:
          additionalProperties:
            $ref: '#/components/schemas/WorksheetData'
          description: Dictionary of ranges in Excel workbooks
          nullable: true
          type: object
      required:
      - format
      - outputFormat
      - sourceLanguage
      - targetLanguages
      type: object
    SrtFileRequest:
      additionalProperties: false
      example:
        originalFileName: originalFileName
        targetLanguages:
        - targetLanguages
        - targetLanguages
        file: file
        origin: origin
        savingMode: Files
        sourceLanguage: en
        url: url
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        origin:
          description: Url or name of application using this SDK. Not required.
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
      required:
      - sourceLanguage
      - targetLanguages
      type: object
    StatusResponse:
      additionalProperties: false
      example:
        id: id
        message: message
        status: null
      properties:
        status:
          $ref: '#/components/schemas/HttpStatusCode'
        message:
          nullable: true
          type: string
        id:
          nullable: true
          type: string
      type: object
    StringStringTuple:
      additionalProperties: false
      example:
        item2: item2
        item1: item1
      properties:
        item1:
          type: string
        item2:
          type: string
      type: object
    TextDocumentFileRequest:
      additionalProperties: false
      description: "Request for files with textual content (doc, docx, docm, rtf,\
        \ odt, txt"
      example:
        originalFileName: originalFileName
        targetLanguages:
        - targetLanguages
        - targetLanguages
        file: file
        pages:
        - 0
        - 0
        savingMode: Files
        origin: origin
        format: Unknown
        preserveFormatting: true
        outputFormat: outputFormat
        sourceLanguage: en
        url: url
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
        format:
          default: Docx
          description: Input file format
          enum:
          - Unknown
          - Doc
          - Docx
          - Docm
          - Txt
          - Rtf
          - Odt
          example: Unknown
          type: string
        outputFormat:
          description: output file format
          minLength: 1
          type: string
        preserveFormatting:
          default: true
          description: "If document's formatting should be preserved, default true"
          type: boolean
        origin:
          description: for analysis only
          nullable: true
          type: string
        pages:
          description: "Choose pages for translation (1-based index). If not present,\
            \ translate all pages"
          items:
            format: int32
            type: integer
          nullable: true
          type: array
      required:
      - format
      - outputFormat
      - sourceLanguage
      - targetLanguages
      type: object
    TextRequest:
      additionalProperties: false
      example:
        targetLanguages:
        - targetLanguages
        - targetLanguages
        texts:
        - texts
        - texts
        origin: origin
        containsMarkdown: true
        sourceLanguage: sourceLanguage
      properties:
        sourceLanguage:
          description: Language of original text
          nullable: true
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          nullable: true
          type: array
        texts:
          description: Text array to translate
          items:
            type: string
          nullable: true
          type: array
        origin:
          description: For analysis only
          nullable: true
          type: string
        containsMarkdown:
          description: Set to true if you want to handle markdown in text
          type: boolean
      type: object
    UrlFileInfo:
      additionalProperties: false
      example:
        size: 0
        url: url
      properties:
        url:
          nullable: true
          type: string
        size:
          format: int64
          type: integer
      type: object
    WorksheetData:
      additionalProperties: false
      example:
        ranges:
        - item2: item2
          item1: item1
        - item2: item2
          item1: item1
        columns:
        - 1
        - 1
        rows:
        - 6
        - 6
      properties:
        rows:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        columns:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        ranges:
          items:
            $ref: '#/components/schemas/StringStringTuple'
          nullable: true
          type: array
      type: object
    _file_upload_post_request:
      properties:
        file:
          format: binary
          type: string
      type: object
  securitySchemes:
    JWT:
      description: Please enter APP SID & KEY
      flows:
        clientCredentials:
          authorizationUrl: https://id.groupdocs.cloud/
          scopes: {}
          tokenUrl: https://id.groupdocs.cloud/connect/token
      type: oauth2

