openapi: 3.0.1
info:
  title: GroupDocs.Translation.ApiGateway.Web
  version: "1.0"
servers:
- url: https://api.groupdocs.cloud/v2.0/translation/
security:
- JWT: []
paths:
  /spreadsheets:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpreadsheetFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: "Translate Microsoft Excel workbooks, ods"
      tags:
      - Transport
  /csv:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CsvFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate CSV and TSV files
      tags:
      - Transport
  /html:
    post:
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/HtmlFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate HTML files
      tags:
      - Transport
  /markdown:
    post:
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MarkdownFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate Markdown files
      tags:
      - Transport
  /hugo:
    get:
      parameters:
      - description: id from PostHugo>
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHugoResponse'
          description: Success
      summary: Get hugo syntax structure from markdown file
      tags:
      - Transport
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              File:
                style: form
              Url:
                style: form
            schema:
              $ref: '#/components/schemas/_hugo_post_request'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Accepted
      summary: Run hugo syntax structure analyzing from markdown file
      tags:
      - Transport
  /image-to-file:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate image or scanned pdf and return file
      tags:
      - Transport
  /image-to-text:
    post:
      parameters:
      - description: Originnal file format
        explode: true
        in: query
        name: Format
        required: false
        schema:
          default: Unknown
          enum:
          - Unknown
          - Bmp
          - Jpg
          - Png
          - Svg
          - Gif
          - Pdf
          type: string
        style: form
      - description: Language of original file
        explode: true
        in: query
        name: Source
        required: true
        schema:
          default: en
          type: string
        style: form
      - description: List of target languages
        explode: true
        in: query
        name: Targets
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Link to file for translation
        explode: true
        in: query
        name: Url
        required: false
        schema:
          type: string
        style: form
      - description: Left to write angle to rotate scanned image / pdf
        explode: true
        in: query
        name: Rotate
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: is handwritten text
        explode: true
        in: query
        name: IsHandwritten
        required: false
        schema:
          type: boolean
        style: form
      - description: for analysis only
        explode: true
        in: query
        name: Origin
        required: false
        schema:
          type: string
        style: form
      - description: endpoints route
        explode: true
        in: query
        name: Route
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            encoding:
              file:
                style: form
            schema:
              $ref: '#/components/schemas/_image_to_text_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate text on image or scanned pdf
      tags:
      - Transport
  /pdf:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PdfFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate pdf files
      tags:
      - Transport
  /resx:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResxFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate RESX files
      tags:
      - Transport
  /presentation:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresentationFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: "Translate Microsoft PowerPoint presentations, odp"
      tags:
      - Transport
  /hc:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckStatus'
          description: Success
      summary: Health check for all services.
      tags:
      - Transport
  /languages:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LanguagePairData'
                type: array
          description: Success
      summary: Return list of available language pairs
      tags:
      - Transport
  /auto:
    post:
      requestBody:
        content:
          application/json:
            encoding:
              Format:
                style: form
              OutputFormat:
                style: form
              Masters:
                style: form
              Formatting:
                style: form
              Route:
                style: form
              Separator:
                style: form
              Elements:
                style: form
              Ranges:
                style: form
              ShortCodeList:
                style: form
              FrontMatterList:
                style: form
              SourceLanguage:
                style: form
              TargetLanguages:
                style: form
              File:
                style: form
              OriginalFileName:
                style: form
              Url:
                style: form
              Origin:
                style: form
              SavingMode:
                style: form
            schema:
              $ref: '#/components/schemas/_auto_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate any supported file
      tags:
      - Transport
  /text:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Translate text
      tags:
      - Transport
  /document/{requestId}:
    get:
      parameters:
      - description: GUID which got from /v3/translation/document response
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudFileResponse'
          description: Success
      summary: "Return document translation status.\r\nAlso return URLs for downloading\
        \ of translated document if translation was successful"
      tags:
      - Transport
  /text/{requestId}:
    get:
      parameters:
      - description: GUID which got from /v3/translation/text response
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudTextResponse'
          description: Success
      summary: "Return text translation status.\r\nAlso return translated text if\
        \ translation was successful"
      tags:
      - Transport
  /document:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextDocumentFileRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ translation."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: "Translate Microsoft Word documents, rtf, txt, odt"
      tags:
      - Transport
components:
  schemas:
    CloudFileResponse:
      additionalProperties: false
      example:
        urls:
          key:
            size: 0
            url: url
        scores:
          key: 6.0274563
        message: message
        status: null
      properties:
        status:
          $ref: '#/components/schemas/HttpStatusCode'
        message:
          nullable: true
          type: string
        urls:
          additionalProperties:
            $ref: '#/components/schemas/UrlFileInfo'
          nullable: true
          type: object
        scores:
          additionalProperties:
            format: float
            nullable: true
            type: number
          nullable: true
          type: object
      type: object
    CloudHugoResponse:
      additionalProperties: false
      example:
        frontmatters:
        - - frontmatters
          - frontmatters
        - - frontmatters
          - frontmatters
        shortcodes:
        - - shortcodes
          - shortcodes
        - - shortcodes
          - shortcodes
        message: message
        status: null
      properties:
        status:
          $ref: '#/components/schemas/HttpStatusCode'
        message:
          description: If file was parsed correctly or text of error
          nullable: true
          type: string
        frontmatters:
          description: Structure of front matter syntax
          items:
            items:
              type: string
            type: array
          nullable: true
          type: array
        shortcodes:
          description: Structure of short code syntax
          items:
            items:
              type: string
            type: array
          nullable: true
          type: array
      type: object
    CloudTextResponse:
      additionalProperties: false
      example:
        translations:
          key:
          - translations
          - translations
        message: message
        status: null
      properties:
        status:
          $ref: '#/components/schemas/HttpStatusCode'
        message:
          description: If file was translated correctly or text of error
          nullable: true
          type: string
        translations:
          additionalProperties:
            items:
              type: string
            nullable: true
            type: array
          description: Translated texts
          nullable: true
          type: object
      type: object
    CsvFileRequest:
      additionalProperties: false
      description: "Request for comma / tab separated files like csv, tsv"
      example:
        originalFileName: originalFileName
        targetLanguages:
        - targetLanguages
        - targetLanguages
        file: file
        origin: origin
        savingMode: Files
        format: Unknown
        outFormat: outFormat
        separator: separator
        sourceLanguage: en
        url: url
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        origin:
          description: Url or name of application using this SDK. Not required.
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
        format:
          default: Csv
          description: Input file format
          enum:
          - Unknown
          - Csv
          - Tsv
          example: Unknown
          type: string
        outFormat:
          description: output file format
          minLength: 1
          type: string
        separator:
          description: Separator in files
          nullable: true
          type: string
      required:
      - outFormat
      - sourceLanguage
      - targetLanguages
      type: object
    HealthCheckStatus:
      additionalProperties: false
      example:
        cloudStatus: cloudStatus
        kafkaDeliveryStatus: kafkaDeliveryStatus
      properties:
        kafkaDeliveryStatus:
          nullable: true
          type: string
        cloudStatus:
          nullable: true
          type: string
      type: object
    HtmlFileRequest:
      additionalProperties: false
      description: Request for HTML files
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        origin:
          description: Url or name of application using this SDK. Not required.
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
        outputFormat:
          description: output file format
          minLength: 1
          type: string
      required:
      - File
      - Source
      - Targets
      type: object
    HttpStatusCode:
      enum:
      - 100
      - 101
      - 102
      - 103
      - 200
      - 201
      - 202
      - 203
      - 204
      - 205
      - 206
      - 207
      - 208
      - 226
      - 300
      - 301
      - 302
      - 303
      - 304
      - 305
      - 306
      - 307
      - 308
      - 400
      - 401
      - 402
      - 403
      - 404
      - 405
      - 406
      - 407
      - 408
      - 409
      - 410
      - 411
      - 412
      - 413
      - 414
      - 415
      - 416
      - 417
      - 421
      - 422
      - 423
      - 424
      - 426
      - 428
      - 429
      - 431
      - 451
      - 500
      - 501
      - 502
      - 503
      - 504
      - 505
      - 506
      - 507
      - 508
      - 510
      - 511
      type: number
    LanguagePairData:
      additionalProperties: false
      example:
        source: source
        targets:
        - targets
        - targets
      properties:
        source:
          nullable: true
          type: string
        targets:
          items:
            type: string
          nullable: true
          type: array
      type: object
    MarkdownFileRequest:
      additionalProperties: false
      description: Request for markdown files or markdown files with Hugo syntax
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        origin:
          description: Url or name of application using this SDK. Not required.
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
        outputFormat:
          description: output file format
          minLength: 1
          type: string
        shortCodeList:
          additionalProperties:
            items:
              items:
                type: string
              type: array
            nullable: true
            type: array
          description: Dictionary of short code names and parameters names to translate
          nullable: true
          type: object
        frontMatterList:
          description: List of lists of frontmatter paths
          items:
            items:
              type: string
            type: array
          nullable: true
          type: array
      required:
      - outputFormat
      - sourceLanguage
      - targetLanguages
      type: object
    OcrFileRequest:
      additionalProperties: false
      example:
        originalFileName: originalFileName
        origin: origin
        format: Unknown
        url: url
        targetLanguages:
        - targetLanguages
        - targetLanguages
        file: file
        ocrformat: Pdf
        route: route
        pages:
        - 6
        - 6
        savingMode: Files
        rotationAngle: 0
        outputFormat: outputFormat
        sourceLanguage: en
        formatting: true
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        origin:
          description: Url or name of application using this SDK. Not required.
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
        format:
          default: Unknown
          description: Original file format
          enum:
          - Unknown
          - Bmp
          - Jpg
          - Png
          - Svg
          - Gif
          - Pdf
          type: string
        ocrformat:
          default: Pdf
          description: File format after recognition
          enum:
          - Pdf
          - Xlsx
          - Csv
          type: string
        outputFormat:
          description: output file format
          minLength: 1
          type: string
        rotationAngle:
          description: Left to write angle to rotate scanned image / pdf
          format: int32
          type: integer
        formatting:
          default: true
          description: "If document's formatting should be preserved, default true"
          type: boolean
        route:
          description: endpoints route
          nullable: true
          type: string
        pages:
          description: List of pages to translate for scanned pdf
          items:
            format: int32
            type: integer
          nullable: true
          type: array
      required:
      - ocrformat
      - outputFormat
      - sourceLanguage
      - targetLanguages
      type: object
    PdfFileRequest:
      additionalProperties: false
      description: Request for PDF files
      example:
        originalFileName: originalFileName
        targetLanguages:
        - targetLanguages
        - targetLanguages
        file: file
        pages:
        - 0
        - 0
        origin: origin
        savingMode: Files
        preserveFormatting: true
        outputFormat: outputFormat
        sourceLanguage: en
        url: url
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        origin:
          description: Url or name of application using this SDK. Not required.
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
        outputFormat:
          description: output file format
          minLength: 1
          type: string
        preserveFormatting:
          default: true
          description: "If document's formatting should be preserved, default true"
          type: boolean
        pages:
          description: List of pages to translate
          items:
            format: int32
            type: integer
          nullable: true
          type: array
      required:
      - outputFormat
      - sourceLanguage
      - targetLanguages
      type: object
    PresentationFileRequest:
      additionalProperties: false
      description: "Request for presentation files like ppt, pptx, pptm, odp"
      example:
        originalFileName: originalFileName
        targetLanguages:
        - targetLanguages
        - targetLanguages
        slides:
        - 0
        - 0
        file: file
        origin: origin
        savingMode: Files
        format: Unknown
        masters: false
        outputFormat: outputFormat
        sourceLanguage: en
        url: url
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        origin:
          description: Url or name of application using this SDK. Not required.
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
        format:
          default: Pptx
          description: Input file format
          enum:
          - Unknown
          - Ppt
          - Pptx
          - Pptm
          - Odp
          example: Unknown
          type: string
        outputFormat:
          description: Output file format
          minLength: 1
          type: string
        masters:
          default: false
          description: If translate master slides
          type: boolean
        slides:
          description: List of slides to translate
          items:
            format: int32
            type: integer
          nullable: true
          type: array
      required:
      - File
      - Source
      - Targets
      type: object
    ResxFileRequest:
      additionalProperties: false
      description: Request for resources files like resx
      example:
        originalFileName: originalFileName
        targetLanguages:
        - targetLanguages
        - targetLanguages
        file: file
        origin: origin
        savingMode: Files
        sourceLanguage: en
        url: url
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        origin:
          description: Url or name of application using this SDK. Not required.
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
      required:
      - sourceLanguage
      - targetLanguages
      type: object
    SpreadsheetFileRequest:
      additionalProperties: false
      description: "Request for spreadsheet files, like xls, xlsx, xlsm, ods"
      example:
        originalFileName: originalFileName
        targetLanguages:
        - targetLanguages
        - targetLanguages
        file: file
        worksheets:
        - 0
        - 0
        ranges:
          key:
            ranges:
            - item2: item2
              item1: item1
            - item2: item2
              item1: item1
            columns:
            - 1
            - 1
            rows:
            - 6
            - 6
        origin: origin
        savingMode: Files
        format: Unknown
        outputFormat: Xls
        sourceLanguage: en
        url: url
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        origin:
          description: Url or name of application using this SDK. Not required.
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
        format:
          default: Xlsx
          description: Input file format
          enum:
          - Unknown
          - Xls
          - Xlsx
          - Xlsm
          - Ods
          example: Unknown
          type: string
        outputFormat:
          description: output file format
          enum:
          - Xls
          - Xlsx
          - Xlsm
          - Xlsb
          - Html
          - Pdf
          - Xps
          - Ods
          - Md
          - Docx
          - Pptx
          - Tiff
          type: string
        worksheets:
          description: List of Worksheets to translate by sequence number
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        ranges:
          additionalProperties:
            $ref: '#/components/schemas/WorksheetData'
          description: Dictionary of ranges in Excel workbooks
          nullable: true
          type: object
      required:
      - format
      - outputFormat
      - sourceLanguage
      - targetLanguages
      type: object
    StatusResponse:
      additionalProperties: false
      example:
        id: id
        message: message
        status: null
      properties:
        status:
          $ref: '#/components/schemas/HttpStatusCode'
        message:
          nullable: true
          type: string
        id:
          nullable: true
          type: string
      type: object
    StringStringTuple:
      additionalProperties: false
      example:
        item2: item2
        item1: item1
      properties:
        item1:
          type: string
        item2:
          type: string
      type: object
    TextDocumentFileRequest:
      additionalProperties: false
      description: "Request for files with textual content (doc, docx, docm, rtf,\
        \ odt, txt"
      example:
        originalFileName: originalFileName
        targetLanguages:
        - targetLanguages
        - targetLanguages
        file: file
        savingMode: Files
        origin: origin
        format: Unknown
        preserveFormatting: true
        outputFormat: outputFormat
        sourceLanguage: en
        url: url
      properties:
        sourceLanguage:
          default: en
          description: Language of original file
          minLength: 1
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        file:
          description: File as byte array
          format: byte
          nullable: true
          type: string
        originalFileName:
          description: Type in the file name. If null will be as request ID.
          nullable: true
          type: string
        url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          nullable: true
          type: string
        savingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
        format:
          default: Docx
          description: Input file format
          enum:
          - Unknown
          - Doc
          - Docx
          - Docm
          - Txt
          - Rtf
          - Odt
          example: Unknown
          type: string
        outputFormat:
          description: output file format
          minLength: 1
          type: string
        preserveFormatting:
          default: true
          description: "If document's formatting should be preserved, default true"
          type: boolean
        origin:
          description: for analysis only
          nullable: true
          type: string
      required:
      - format
      - outputFormat
      - sourceLanguage
      - targetLanguages
      type: object
    TextRequest:
      additionalProperties: false
      example:
        targetLanguages:
        - targetLanguages
        - targetLanguages
        texts:
        - texts
        - texts
        origin: origin
        containsMarkdown: true
        sourceLanguage: sourceLanguage
      properties:
        sourceLanguage:
          description: Language of original text
          nullable: true
          type: string
        targetLanguages:
          description: List of target languages
          items:
            type: string
          nullable: true
          type: array
        texts:
          description: Text array to translate
          items:
            type: string
          nullable: true
          type: array
        origin:
          description: For analysis only
          nullable: true
          type: string
        containsMarkdown:
          description: Set to true if you want to handle markdown in text
          type: boolean
      type: object
    UrlFileInfo:
      additionalProperties: false
      example:
        size: 0
        url: url
      properties:
        url:
          nullable: true
          type: string
        size:
          format: int64
          type: integer
      type: object
    WorksheetData:
      additionalProperties: false
      example:
        ranges:
        - item2: item2
          item1: item1
        - item2: item2
          item1: item1
        columns:
        - 1
        - 1
        rows:
        - 6
        - 6
      properties:
        rows:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        columns:
          items:
            format: int32
            type: integer
          nullable: true
          type: array
        ranges:
          items:
            $ref: '#/components/schemas/StringStringTuple'
          nullable: true
          type: array
      type: object
    _hugo_post_request:
      properties:
        File:
          description: File as byte array
          format: binary
          type: string
        Url:
          description: Link to file for translation
          type: string
      required:
      - File
      type: object
    _image_to_text_post_request:
      properties:
        file:
          format: binary
          type: string
      type: object
    _auto_post_request:
      properties:
        Format:
          default: Unknown
          description: Input file format
          enum:
          - Unknown
          - Doc
          - Docx
          - Docm
          - Xls
          - Xlsx
          - Xlsm
          - Ppt
          - Pptx
          - Pptm
          - Txt
          - Pdf
          - Md
          - Resx
          - Html
          - Rtf
          - Odt
          - Ods
          - Odp
          - Csv
          - Tsv
          example: Unknown
          type: string
        OutputFormat:
          description: output file format
          type: string
        Masters:
          default: false
          description: If translate master slides
          type: boolean
        Formatting:
          default: true
          description: "If document's formatting should be preserved, default true"
          type: boolean
        Route:
          description: Endpoint route
          type: string
        Separator:
          description: Separator in files
          type: string
        Elements:
          description: List of slides to translate
          items:
            format: int32
            type: integer
          type: array
        Ranges:
          additionalProperties:
            $ref: '#/components/schemas/WorksheetData'
          description: Dictionary of ranges in Excel workbooks
          type: object
        ShortCodeList:
          additionalProperties:
            items:
              items:
                type: string
              type: array
            nullable: true
            type: array
          description: Dictionary of short code names and parameters names to translate
          type: object
        FrontMatterList:
          description: Dictionary where key is zero-based front matter index and value
            is list of lists of front matter paths
          items:
            items:
              type: string
            type: array
          type: array
        SourceLanguage:
          default: en
          description: Language of original file
          type: string
        TargetLanguages:
          description: List of target languages
          items:
            type: string
          type: array
        File:
          description: File as byte array
          format: byte
          type: string
        OriginalFileName:
          description: Type in the file name. If null will be as request ID.
          type: string
        Url:
          description: "Link to file for translation. Ignore, if \"file\" property\
            \ not null"
          type: string
        Origin:
          description: Url or name of application using this SDK. Not required.
          type: string
        SavingMode:
          description: "Toggle file saving mode for storage.\r\nIs Files by default."
          enum:
          - Files
          - Archive
          - Both
          type: string
      required:
      - Format
      - OutputFormat
      - SourceLanguage
      - TargetLanguages
      type: object
  securitySchemes:
    JWT:
      description: Please enter APP SID & KEY
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://id.groupdocs.cloud/connect/token
      type: oauth2

